# A configuration file for logging module, uses PyYAML>=6.0

version: 1

formatters:
  simple:
    format: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
  verbose:
    format: "%(asctime)s - %(name)s - %(levelname)s - %(funcName)s:%(lineno)d - %(message)s"

handlers:
  console:
    class: logging.StreamHandler
    level: DEBUG
    formatter: simple
    stream: ext://sys.stdout
  file:
    class: logging.handlers.RotatingFileHandler
    level: DEBUG
    formatter: verbose
    backupCount: 1
    maxBytes: 1048576
    filename: ./logs/status.log

loggers:
  root:
    level: DEBUG
    handlers: [console, file]
